*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------ ---- Fuentes ----- -----*/
@font-face
{
    font-family: aleo;
    src: url(../Fuentes/Aleo/Aleo-Regular.ttf);
}

@font-face
{
    font-family: AleoBol;
    src: url(../Fuentes/Aleo/Aleo-Bold.ttf);
}

body
{
    font-family: aleo;
}

.Contenedor
{
    width: 90%;
    margin: 0 auto;

    /*---Grid---*/
    display: grid;
    grid-template-areas:
    "header main"
    "aside main";
    grid-template-columns: 400px 1fr;
    grid-auto-rows: 250px 1fr;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.Contenedor .Header
{
    grid-area: header;
    color: #ffffff;
    background: #0a4283;
}

.Header .HeaderImg
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    font-family: AleoBol;
    
    /*---FlexBox---*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}

.Header .HeaderImg img
{
    width: 250px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0.5px #000000;
}

.Contenedor .Aside
{
    display: grid;
    grid-gap: 50px;
    grid-area: aside;
    background: linear-gradient(to top, rgb(10, 66, 131) 0%, rgb(25, 123, 215) 100%);
    grid-template-areas: 
    "perfil"
    "estudios"
    "diseño-1"    
    "diseño-2"
    "diseño-3"
    "contacto";
    grid-auto-columns: 1fr;
    grid-template-rows: minmax(500px) 1fr;
}

.Aside .Perfil{grid-area: perfil;}
.Aside .Estudios{grid-area: estudios;}
.Aside .Diseño-1{grid-area: diseño-1;}
.Aside .Diseño-2{grid-area: diseño-2;}
.Aside .Diseño-2{grid-area: diseño-3;}
.Contacto{grid-area: contacto;}
.Aside .Perfil,
.Aside .Estudios,
.Aside .Diseño-1,
.Aside .Diseño-2,
.Aside .Diseño-3,
.Aside .Contacto
{
    width: 80%;
    display: grid;
    grid-gap: 15px;
    color: #ffffff;
    margin: 20px auto;
    font-family: aleo;
}

.Aside .Perfil h3,
.Aside .Estudios h3,
.Aside .Diseño-1 h3,
.Aside .Diseño-2 h3,
.Aside .Diseño-3 h3,
.Aside .Contacto h3
{
    font-size: 18px;
    font-family: aleo;
    
}

.Aside .Perfil h3 i,
.Aside .Estudios h3 i,
.Aside .Diseño-1 h3 i,
.Aside .Diseño-2 h3 i,
.Aside .Diseño-3 h3 i,
.Aside .Contacto h3 i
{
    padding: 5px;
    color: #ededed;
    border-radius: 2px;
    transition: .5s ease;
    text-decoration: none;    
    background: #093a72;
    box-shadow: 0px 0px 5px 0.5px rgb(10, 66, 131);
}

.Estudios .ProGre,
.Diseño-1 .ProGre,
.Diseño-2 .ProGre
{
    width: 100%;
    
    /*---Grid---*/    
    display: grid;
    grid-gap: 18px;  
    /*---FleBox---*/
    display: flex;
    align-items: center; 
}

.Estudios .ProGre .progress,
.Diseño-1 .ProGre .progress,
.Diseño-2 .ProGre .progress
{
    background: #0a4283;
    box-shadow: 0 0 4px 1px rgba(10, 66, 131, 0.541);
}

.Aside .Estudios .ProGre i,
.Aside .Diseño-1 .ProGre i,
.Aside .Diseño-2 .ProGre i 
{
    min-width: 30px;
    padding: 5px;
    font-size: 18px;
    color: #0a4283;
    text-align: center;
    border-radius: 2px;
    background: #ededed;
    box-shadow: 0 0 4px 1px rgba(10, 66, 131, 0.541);
}

.Aside .Perfil h3,
.Aside .Estudios h3 a,
.Aside .Diseño-1 h3 a,
.Aside .Diseño-2 h3 a,
.Aside .Diseño-3 h3 a,
.Aside .Contacto h3 a
{
    color: #ffffff;
    text-align: center;
    transition: .5s ease;
    text-decoration: none;
    
    /*---Grid---*/    
    display: grid;
    grid-gap: 15px;  
    /*---FleBox---*/
    display: flex;
    align-items: center;
}

.Aside .Estudios h3 a:hover,
.Aside .Diseño-1 h3 a:hover,
.Aside .Diseño-2 h3 a:hover,
.Aside .Diseño-3 h3 a:hover,
.Aside .Contacto h3 a:hover
{
    color: #d6d6d6;
}

.Contacto .RedSocial
{
    display: grid;
    grid-gap: 10px;
    display: flex;
    align-items: center;
}

.Contacto .RedSocial a
{
    width: 100%;    
    padding: 5px;
    font-size: 16px;
    color: #0a4283;
    border-radius: 2px;
    text-align: center;
    transition: .5s ease;
    background: #ffffff;
}

.Contacto .RedSocial a:hover
{
    color: #0a4283;
    background: #dadada;
    box-shadow: 0px 0px 5px .5px rgb(4, 34, 68);
}

.Contenedor .Main
{
    grid-area: main;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(246,246,246,1) 47%, rgb(237, 237, 237) 100%);
}